<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>获取随机密码</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/clipboard.min.js"></script>

    <style>
        .notice{
            height: 20px;
            color:#f00;
        }
        .div-none{
            display: none;
        }

        .btn{
            width: 20%;
            height: 200px;
            padding: 10px;
            border-radius: 6px;
            background: #1b93fb;
            color: #fff;
            border: 0;
        }
    </style>

</head>
<body>


<div>
    <p class="pass"></p>
    <p class="notice"></p>

    <p>
        长度
        <select class="pslength">
            <option value ="16">16</option>
            <option value ="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
        </select>
    </p>


    <button class="btn copy" data-clipboard-action="copy" data-clipboard-target=".pass">复制</button>
    <button class="btn reload">再次获取</button>
</div>

<style>
    #cnzz_stat_icon_1256554368{
        display: none;
    }

</style>
<script type="text/javascript">

    // 百度统计
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?39dac53a03a6cd51ce38120d2c4adb61";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //CNZZ
    var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256554368'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256554368' type='text/javascript'%3E%3C/script%3E"));</script>


<script>

    $().ready(function(){

        // 获取密码
        // 自动获取 时间列表
        getTime();
        function getTime() {

            var pslength = $('.pslength').val();
            var url = '/api/Md5/get';

            $.post(
                url,
                {
                    'Md5':'get',
                    'pslength':pslength
                },
                function(result){

                    if (result.code == 0){
                        $('.pass').text(result.message);

                    }else{
                        layer.msg(result.message);

                    }

                },
                'json'
            );


        }

        var clipboard = new Clipboard('.copy');

        clipboard.on('success', function(e) {
            $('.notice').text('文本已经复制到剪切板');
        });

        clipboard.on('error', function(e) {
            $('.notice').text('文本复制失败,清手动复制');
        });

        $('.reload').click(function(){
            getTime();
        })

    });


</script>


</body>
</html>