<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/layui/js/layui.js"></script>
    <title>首页</title>
</head>
<body>

<script type="text/javascript">

    // 百度统计
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?39dac53a03a6cd51ce38120d2c4adb61";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //CNZZ
    var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256554368'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256554368' type='text/javascript'%3E%3C/script%3E"));</script>


<script>